nav{
    display: flex;
    flex-direction:column;
    background-color: lightgray;
    padding: 10px;
    
}
.container{
    display: flex;
    flex-direction: row;
}

.one{
    display: flex;

    justify-content: flex-start;
    width: 50%;
    
}

.two{
display:flex ;
justify-content: flex-end;  
width: 50%;  

}
.login{
    margin-right: 10px;
}




/* .companies{
    /* display: flex;
    flex-direction: column; */
   
/* } */

/* .signup{ */
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: flex-end; 
    margin-left: 3px; */
/* }    */
 

.b1{
    margin-top: 50px;
    margin-left: 15vw;
    width: 60%;
    border: none ;
    padding: 10px;
    background-color: lightgray;
}

text1{
    height:30px
}